<header class="w-full py-4 grid grid-cols-12 items-center">
  <!-- logo -->
  <div class="col-span-3">
    <h1 class="font-bold text-2xl">TooDo's</h1>
    <div class="w-1/6 h-1 bg-primary rounded-full"></div>
  </div>
  <div class="col-span-6">
    <ul class="w-full flex gap-4 justify-center">
      <li (click)="toggleStatus('ALL')">
        <a
          class="font-medium text-sm cursor-pointer px-5 py-0.5 pb-1 rounded-full"
          [ngClass]="{
            'text-black bg-white shadow-lg shadow-slate-400/20': status == 'ALL',
            'text-slate-400 hover:text-black': status !== 'ALL'
          }"
          >All (52)</a
        >
      </li>
      <li (click)="toggleStatus('DONE')">
        <a
          class="font-medium text-sm cursor-pointer px-5 py-0.5 pb-1 rounded-full"
          [ngClass]="{
            'text-black bg-white shadow-lg shadow-slate-400/20': status == 'DONE',
            'text-slate-400 hover:text-black': status !== 'DONE'
          }"
          >Done (22)</a
        >
      </li>
      <li (click)="toggleStatus('ARCHIVED')">
        <a
          class="font-medium text-sm cursor-pointer px-5 py-0.5 pb-1 rounded-full"
          [ngClass]="{
            'text-black bg-white shadow-lg shadow-slate-500/20': status == 'ARCHIVED',
            'text-slate-400 hover:text-black': status !== 'ARCHIVED'
          }"
          >Archived (11)</a
        >
      </li>
    </ul>
  </div>
  <div class="col-span-3">
    <ul class="w-full flex gap-4 justify-center items-center">
      <li
        class="hover:text-black duration-200 cursor-pointer text-slate-600 w-8 h-8 flex justify-center items-center bg-white rounded-full"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </li>
      <li
        class="hover:text-black duration-200 cursor-pointer text-slate-600 w-8 h-8 flex justify-center items-center bg-white rounded-full"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-bell"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"
          />
        </svg>
      </li>
      <li class="cursor-pointer">
        <div class="w-5 h-5 bg-primary rounded-full"></div>
      </li>
    </ul>
  </div>
</header>
