<div
  class="w-full h-32 bg-white p-2 pb-4 rounded-lg flex flex-col justify-between gap-3 hover:shadow-lg hover:shadow-slate-200 cursor-pointer duration-200"
  [routerLink]="'/todos/' + id"
  (click)="loadTodo()"
>
  <span
    class="capitalize text-xs font-semibold bg-primary/10 rounded-md text-primary w-fit px-3 py-1"
    >{{ topic }}</span
  >
  <p class="font-medium text-black text-sm first-letter:uppercase line-clamp-3">
    {{ title }}
  </p>
  <ul class="w-full flex justify-between text-slate-400">
    <li class="flex items-center gap-1.5">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="10"
        fill="currentColor"
        class="bi bi-clock text-slate-500"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
        />
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
        />
      </svg>
      <span class="text-[10px]">1h20min</span>
    </li>
    <li class="flex items-center gap-1.5">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="10"
        fill="currentColor"
        class="bi bi-calendar text-slate-500"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
        />
      </svg>
      <span class="text-[10px]">Aug 17, 2022</span>
    </li>
  </ul>
</div>
